div.header {
  font-size: 48pt;
  font-family: "Comic Sans MS", serif;
  transition: 0.8s;
  border: green solid 2px;
  padding: 10px;
  text-align: center;
  color: red;
}
div.header:hover {
  transform: rotateX(360deg);
}

div.gradient {
  height: 100px;
  background-image: linear-gradient(red, slategray);
}